<ion-view view-title = "{{ 'BENEFICIARY_VIEW_TITLE_1' | translate }}">
  <ion-content class="padding">
    <br>
    <ion-list>
      <div class="custom-item custom-item-avatar-right "
                      ng-repeat="beneficiary in beneficiarys"  ng-controller="BeneficiaryCtrl">

        <img ng-src="{{beneficiary.pic}}"/>
        <span class="providers">{{beneficiary.name}}</span>
        <p class="poss">{{beneficiary.profession}}</p>
      </div>
    </ion-list>


  </ion-content>
  <div class="bar-prov bar-footer-prov">
    <!-- diamond shape-->
    <div class="diamond1"></div>
    <div class="settings">
      <img class="gearIcon" src="img/Settings-icon.png" ng-click="beneficiaryProfileSettings()" />
    </div>
  </div>
</ion-view>
