<ion-view view-title="Beneficiary">
  <ion-content class="padding">
    <br>
    <div class="paytileDesc">
      <p class="paytileDesc-text">{{ 'TITLE_DESC_6' | translate }}</p>
    </div>
    <form name="registrationForm">
        <div class="loginList loginList-inset">
          <label class="loginItem loginItem-input ion-person">
            <input required type="text" placeholder="First Name" >
          </label>
          <label class="loginItem loginItem-input ion-person">
            <input required type="text" placeholder="Last Name" >
          </label>
          <label class="loginItem loginItem-input ion-email">
            <input required type="text" placeholder="Email">
          </label>
          <label class="loginItem loginItem-input ion-locked">
            <input required type="text" placeholder="Password">
          </label>
          <label class="loginItem loginItem-input ion-locked">
            <input required type="text" placeholder="Conform Password">
          </label>
        </div>
      </form>
      <br>
      <div class="paytileDesc">
        <p class ="paytileDesc-text">{{ 'BENEFICIARY_AC_INFO' | translate }}</p>
      </div>
      <form>
        <div class="loginList loginList-inset">
          <label class="loginItem loginItem-input ion-card">
            <input requid type="text" placeholder="Account Number">
          </label>
          <label class="loginItem loginItem-input ion-person">
            <input requid type="text" placeholder="Account Holder Name">
          </label>
          <label class="loginItem loginItem-input ">
            <input required type="text" placeholder="  IFSC CODE">
          </label>
          <label class="loginItem loginItem-input ">
            <input required type="text" placeholder=" Branch Name">
          </label>
        </div>
      </form>
      <button class="loginBtn button-block button-dark" > {{ 'BTN_REGISTER' | translate }}</button>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced">
  </ion-footer-bar>
</ion-view>
