<ion-view view-title = "{{ 'BENEFICIARY_MC_TITLE_1' | translate }}">
  <ion-content class="padding">
    <div class="profile-custom-item" >
      <p class="profile-p-padding"><span class="span-style" >{{'BENEFICIARY_MC_TITLE_2'| translate}}</span>:  </p>
    </div>
    <div class="profile-custom-item" >
      <p class="profile-p-padding"><span class="span-style" >{{'BENEFICIARY_MC_TITLE_3'| translate}}</span>:  </p>
    </div>
    <div class="profile-custom-item" >
      <p class="profile-p-padding"><span class="span-style" >{{'BENEFICIARY_MC_TITLE_4'| translate}}</span>:  </p>
    </div>
  </ion-content>
</ion-view>
