<ion-view view-title="{{'FORGOT_PSSWD_TITLE_1' | translate}}">
  <ion-content class="padding">
    <br>
    <div class="paytileDesc">
        <p class="paytileDesc-text">{{ 'TITLE_DESC_6' | translate }}</p>
    </div>
    <br><br><br><br>
    <form>
        <label class="loginItem loginItem-input ion-email">
            <input required type="text" placeholder="Email" ng-model="data.email">
        </label>
    </form>
    <br>
    <div class="selUserDiv">
    <button class="button button-calm round">{{ 'BTN_CANCEL' | translate }}</button>
    <button class="button-calm button round">{{ 'BTN_SEND_CODE' | translate }}</button>
  </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced">
      <h1 class="title">Title!</h1>
  </ion-footer-bar>
</ion-view>
