<ion-view view-title="{{'FORGOT_PSSWD_TITLE_1' | translate}}">
  <ion-content class="padding">
    <div class="paytileDesc single-up-margin double-margin">
        <p class="paytileDesc-text">{{ 'TITLE_DESC_6' | translate }}</p>
    </div>
    <form class="double-up-margin">
        <label class="loginItem loginItem-input ion-email">
            <input required type="text" placeholder="Email" ng-model="data.email">
        </label>
    </form>
    <div class="selUserDiv double-up-margin sing-up-margin">
    <button class="send-button fixed-button-color-custom">{{ 'BTN_SEND_CODE' | translate }}</button>
  </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced">
      <h1 class="title">Title!</h1>
  </ion-footer-bar>
</ion-view>
