<ion-view view-title="{{ 'APP_TITLE' | translate }}" hide-back-button="true" can-swipe-back="false" cache-view="false">
  <ion-content class="padding">
    <div class="paytileDesc">
      <p class="paytileDesc-text">{{ 'TITLE_DESC_1' | translate }}<br /> {{ 'TITLE_DESC_2' | translate }}</p>
    </div>
  <form name="loginForm">
    <div class="loginList loginList-inset">
          <label class="loginItem loginItem-input ion-email">
              <input required type="text" placeholder="Email" ng-model="data.email">
          </label>
          <label class="loginItem loginItem-input ion-locked">
              <input required type="password" placeholder="Password" ng-model="data.password">
          </label>
          <ion-toggle toggle-class="toggle-balanced" id="toggle" name="ON" value="on" >{{ 'TOGGLE_BTN_DESC' | translate }}</ion-toggle>
    </div>
 </form>
      <button class="loginBtn button-block button-dark" ng-disabled="!loginForm.$valid" ng-click="login()">{{ 'LOGIN_BTN' | translate }}</button>
      <div class="forgotPasswd"><a href="#tags"/ style="font-weight: bold">{{ 'FORGOT_PSSWD' | translate }}</div>
      <div class="signup"> <span class="misc">{{ 'SIGN_UP_DESC' | translate }}</span> <a  style="font-weight: bold" ng-click="signUp()" >{{ 'SIGN_UP' | translate }}</a></div>

  </ion-content>
</ion-view>
