<ion-view view-title="{{'SETTINGS_TITLE_1' | translate}}">
  <ion-content class="padding">
    <br>
    <button class="button-block left border button-padding" ng-click="patronEditProfile()">
        {{'SETTINGS_TITLE_2'| translate}}
    </button>
    <br><br>
    <button class="button-padding button-block left border" ng-click="patronAnalytics()">
        {{'SETTINGS_TITLE_3' | translate}}
    </button>
    <br><br>
    <button class="button-padding button-block left border" ng-click="patronNotifications()">
        {{'SETTINGS_TITLE_4' | translate}}
    </button>
    <br><br>
    <button class="button-block left border button-padding " ng-click="reportProblem()">
        {{'SETTINGS_TITLE_5' | translate}}
    </button>


  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced">
  </ion-footer-bar>
</ion-view>
