<ion-view view-title="{{'PROFILE_TITLE_1' | translate}} Edit Profile">
  <ion-content class="padding">
  <div class="profile-custom-item profile-custom-item-avatar-right" >
      <p class="profile-p-padding"><span class="span-style" >{{'PROFILE_TITLE_2' | translate}} </span>: </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <img src="img/compose.png" />
      <p class="profile-p-padding"><span class="span-style" >{{'PROFILE_TITLE_3'| translate}}</span>:  </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <img src="img/compose.png" />
      <p class="profile-p-padding"><span class="span-style" >{{'PROFILE_TITLE_4' | translate}} </span>: yes  </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <img src="img/compose.png" />
      <p class="profile-p-padding"><span class="span-style" >{{'PROFILE_TITLE_5' | translate}} </span>: yes  </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <p class="profile-p-padding"><span class="span-style" >{{'PROFILE_TITLE_6' | translate}} </span>:  </p>
    </div>
    <div class="paytileDesc center padding">
      <button class="switch-button fixed-button-color">{{'PROFILE_TITLE_7' | translate}}</button>
    </div>

  </ion-content>
</ion-view>
