<ion-view view-title="{{'NOTIFICATIONS_TITLE_1' | translate}}">
  <ion-content class="padding">
    <div class="profile-custom-item " >
      <p class="profile-p-padding"><span class="span-style" >{{'NOTIFICATIONS_TITLE_2' | translate}} </span>: </p>
    </div>
  <div class="profile-custom-item profile-custom-item-avatar-right" >
    <img src="img/compose.png" />
    <p class="profile-p-padding"><span class="span-style" >{{'NOTIFICATIONS_TITLE_3' | translate}} </span>:Yes </p>
  </div>
  <div class="profile-custom-item profile-custom-item-avatar-right" >
    <img src="img/compose.png" />
    <p class="profile-p-padding"><span class="span-style" >{{'NOTIFICATIONS_TITLE_4' | translate}} </span>:Yes </p>
  </div>
  <div class="profile-custom-item profile-custom-item-avatar-right" >
    <p class="profile-p-padding"><span class="span-style" >{{'NOTIFICATIONS_TITLE_5' | translate}} </span>: </p>
  </div>

  </ion-content>
</ion-view>
