<ion-view view-title="{{'NOTIFICATIONS_TITLE_1' | translate}}">
  <ion-content class="padding">
    <br>
    <div class="paytileDesc padding-div">
      <p><span class="span-style" >{{'NOTIFICATIONS_TITLE_2' | translate}} </span>: </p>
    </div>
    <br>
    <div class="paytileDesc padding-div">
      <p><span class="span-style" >{{'NOTIFICATIONS_TITLE_3' | translate}} </span>: </p>
    </div>
    <br>
    <div class="paytileDesc padding-div">
      <p><span class="span-style" >{{'NOTIFICATIONS_TITLE_4' | translate}} </span>: </p>
    </div>
    <br>
    <div class="paytileDesc padding-div">
      <p><span class="span-style" >{{'NOTIFICATIONS_TITLE_5' | translate}} </span>: </p>
    </div>

  </ion-content>
</ion-view>
