<ion-view view-title="{{'ANALYTICS_TITLE_1' | translate}}">
  <ion-content class="padding">

    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <p class="profile-p-padding"><span class="span-style" > {{'ANALYTICS_TITLE_2' | translate}}</span>: Patron Doe  </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <img src="img/more.png">
      <p class="profile-p-padding"><span class="span-style" >{{'ANALYTICS_TITLE_3' | translate}}</span> :$10.00  </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <img src="img/more.png">
      <p class="profile-p-padding"><span class="span-style" >{{'ANALYTICS_TITLE_4' | translate}} </span> :$100.00  </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <img src="img/more.png">
      <p class="profile-p-padding"><span class="span-style" >{{'ANALYTICS_TITLE_5' | translate}}</span>:$1000.00 </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <p class="profile-p-padding"><span class="span-style" >{{'ANALYTICS_TITLE_6' | translate}} </span> </p>
    </div>
    <div class="profile-custom-item profile-custom-item-avatar-right" >
      <p class="profile-p-padding"><span class="span-style" >{{'ANALYTICS_TITLE_7' | translate}} </span> </p>
    </div>
  </ion-content>
</ion-view>
