<ion-view view-title="{{'REPORT_PROBLEM_TITLE_1' | translate}}">
  <ion-content class="padding">
    <div class="paytileDesc padding-div">
      <p><span class="span-style" >{{'REPORT_PROBLEM_TITLE_2' | translate}}</span></p>
    </div>
    <div class="paytileDesc padding-div">
        <textarea   class="text-area"></textarea>
        <p>Maximum 250 characters</p>
      </div>
      <div class="center">
          <button class= "fixed-center-button fixed-button-color">Send</button>
      </div>
    <div class="paytileDesc padding-div single-up-margin"> 
      <p><span class="span-style" >{{'REPORT_PROBLEM_TITLE_3' | translate}} </span>: </p>
    </div>
  </ion-content>
</ion-view>
