<ion-view view-title="{{'SIGN_UP_TITLE_1' | translate}}">
  <ion-content class="padding">
    <br />
    <div class="paytileDesc">
        <p class="paytileDesc-text">{{ 'TITLE_DESC_3' | translate }} <br>{{ 'TITLE_DESC_1' | translate }}<br>{{ 'TITLE_DESC_4' | translate }}<br>{{ 'TITLE_DESC_5' | translate }}</p>
    </div>
    <br />
    <div class="selUserDiv">
      <button class="signup-button fixed-button-color-custom" ng-click="patronReg()">{{'SIGN_UP_TITLE_2' | translate}}</button>
      <button class="signup-button fixed-button-color-custom" ng-click="beneficiaryReg()">{{'SIGN_UP_TITLE_3' | translate}}</button>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-balanced">
  </ion-footer-bar>
</ion-view>
