<ion-view view-title="{{ 'SIGN_UP' | translate }}">
  <ion-content>
    <div class="paytileDesc">
        <p class="paytileDesc-text">{{ 'TITLE_DESC_1' | translate }}<br />{{ 'SIGN_UP_TITLE_DESC_1' | translate }}<br />{{ 'SIGN_UP_TITLE_DESC_2' | translate }}</p>
    </div>
    <div class="selUserDiv">
      <button class="selUserbutton button-balanced" ng-click="patronRegisteration()">{{ 'USER_PATRON_BTN' | translate }}</button>
      <button class="selUserbutton button-balanced" ng-click="beneficiaryRegisteration()">{{ 'USER_BENEFICIARY_BTN' | translate }}</button>
    </div>
    <ion-footer-bar class="bar bar-footer bar-stable">
      <div class="title"><a ng-click="contactSupport()">{{ 'SIGN_UP_FOOTER' | translate }}</a></div>
    </ion-footer-bar>
  </ion-content>
</ion-view>
