.fixed-center-button-custom {
    width: 80px;
    height: 60px;
    border-radius: .5em;
    border-width: 4px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    word-wrap: normal;
}

.fixed-button-custom {
    width: 65px;
    height: 65px;
    border-radius: .5em;
    border-width: 4px;
    font-size: 16px;
    font-weight: bold;

}

.fixed-button-color-custom {
    background: #d9ffd9; /* For browsers that do not support gradients */
    background: linear-gradient(#d9ffd9, #33cd5f);
    border-color: #44884E;
    color: #000000;
}

.amount-buttons {
  margin-top: 80px;
}

.reset-button{
  width: 200px;
  height: 60px;
  color: #7f7f7f;
  border-radius: .2em;
  border-width: thin;
  font-size: 20px;
  font-weight:800;
  background: #fff; /* For browsers that do not support gradients */
  background: linear-gradient(#fff, #99ff99);
}

.reg-pat-button{
  margin: 10px;
  width: 40%;
  height: 40px;
  color: #7f7f7f;
  border-radius: .2em;
  border-width: thin;
  font-size: 20px;
  font-weight:800;
  background: #fff; /* For browsers that do not support gradients */
  background: linear-gradient(#fff, #99ff99);
}

.reg-benf-button{
  margin: 10px;
  width: 40%;
  height: 40px;
  color: #7f7f7f;
  border-radius: .2em;
  border-width: thin;
  font-size: 20px;
  font-weight:800;
  background: #fff; /* For browsers that do not support gradients */
  background: linear-gradient(#fff, #99ff99);
}
